@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: white;
  width: 100%;
  background: #191B34;
  font-family: Poppins, sans-serif;
}

input {
  border: 1px solid #686F8E;
  background: none;
  padding: 10px 150px 10px 20px;
}

input:focus {
  outline: none;
}

.btn {
  background: #4C21F4;
  width: 375px;
  height: 50px;
  transition: ease-out 0.3s;
}

.btn:hover {
  box-shadow: inset 400px 0 0 0 #623DF6;
}

.btn-2{
  background: #4C21F4;
  width: 150px;
  height: 40px;
  transition: ease-out 0.3s;
}

.btn-2:hover {
  box-shadow: inset 400px 0 0 0 #623DF6;
}

.mcq {
  width: 100%;
  border: 1px solid #686F8E;
  background: none;
  text-align: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.mcq:focus {
  border: 1px solid #0AC6D0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
